/* Inicio body */

body {
    font-family: Trebuchet MS;
    background-color: #F3F5FC;
}

/* Fin body */

/* Inicio Header */

.texto_header {
    color: #0A3871;
    font-weight: 500;
}

.texto_header:hover {
    color: navy;
    cursor: pointer;
}

.logo {
    animation: puff-in-center 2.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
}
  

/* Fin Header */

/* Inicio Contenedor Izquierda */

.textoEntrada {
    height: 24.3rem;
    width: 22rem;
    font-size: 1.5rem;
    line-height: 150%;
    color: #0A3871;
    background: transparent;
    border: none;
    outline: none;
}

textarea {
    resize: none;
    text-transform: lowercase;
}

::placeholder {
    color: #0A3871;
    text-align: center;
}

.disclaimer {
    color: #0A3871;
    font-weight: 600;
}

.btn_en {
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    line-height: 19px;
    color: honeydew;
    display: flex;
    width: 10rem;
    height: 2.6rem;
}

.btn_en:hover {
    background: navy;
    cursor: pointer;
	animation: color-change-3x 4s linear infinite alternate both;
}

.btn_en_texto {
    color: honeydew;
}

.btn_de {
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    line-height: 19px;
    color: honeydew;
    width: 10rem;
    height: 2.6rem;
}

.btn_de:hover {
    background: navy;
    cursor: pointer;
    animation: color-change-3x 4s linear infinite alternate both;
}

.btn_de_texto {
    color: honeydew;
}

/* Inicio Contenedor Centro */
/* Fin Contenedor Centro */

/* Inicio Contenedor Derecha */

.Rectangle1 {
    height: 30.94rem;
    width: 22rem;
    background: whitesmoke;
    box-shadow: 10px 10px 22px -6px #2d4468;
    border-radius: 0.5rem;
    outline: none;
}

.Rectangle1_texto1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    text-align: center;
    color: #0A3871;
}

.Rectangle1_texto2 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: #0A3871;
}

.textoSalida {
    height: 24rem;
    width: 22rem;
    font-size: 1.5rem;
    line-height: 150%;
    color: #0A3871;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
}


.btn_co {
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    line-height: 19px;
    color: honeydew;
    width: 10rem;
    height: 2.6rem;
}

.btn_co:hover {
    background: navy;
    cursor: pointer;
    animation: color-change-3x 4s linear infinite alternate both;
}

.munieco {
    width: 85%;
    height: 85%;
}

/* Fin Contenedor Derecha */

/* Inicio Footer */

.iconos_footer {
    height: 1.9rem;
    width: 1.9rem;
}

.discord {
    animation: vibrate-1 1s linear 10 both;
}

/* Fin Footer */

/* Inicio Keyframes para animaciones */

@keyframes color-change-3x {
    0% {
      background: navy;
    }
    50% {
      background: #0A3871;
    }
    100% {
      background: navy;
    }
}

  
/* Fin Keyframes para animaciones */